<!html>
<html ng-app>
<head lang="fr">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Sud Web – Sujets</title>
    <meta name="viewport" content="initial-scale=1">
    <link href="components/bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet">
    <link href="components/bootstrap/docs/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
</head>
<body>

<div class="container-fluid" ng-controller="TalkController">
    <div class="row-fluid">
        <div class="span3">
            <ol class="nav nav-list" ng-cloak>
                <li class="nav-header">Sommaire</li>
                <li class="divider"></li>

                <li ng-repeat="talk in talks" data-counter="{{$index + 1}}"><a href="#talk-{{$index + 1}}">{{talk.title}}</a></li>
            </ol>
        </div>

        <div class="span8 offset1" id="talk-container">
            <div class="alert alert-info" ng-hide="talks">Chargement en cours …</div>

            <div ng-cloak class="talk talk-{{talk.rating_label}}" id="talk-{{$index + 1}}" ng-repeat="talk in talks">
                <h2 class="talk-title">{{talk.title}}</h2>

                <span class="total">{{talk.score}}</span>

                <p class="meta">
                    <a href="mailto:{{email}}" class="author">{{talk.author}}</a> – {{talk.sex}}, {{talk.location}} <em>via</em> {{talk.transportation}}<br />
                    {{talk.url}}
                </p>
                <p>
                    <span class="label label-success">{{talk.language}}</span>
                    <span class="label {{talk.talk_20}}">20 minutes</span>
                    <span class="label {{talk.talk_lt}}">LT</span>
                    <span class="label {{talk.talk_workshop}}">Workshop</span>
                </p>
                <p>{{talk.tags}}</p>

                <div class="row-fluid">
                    <div class="talk-description span7">{{talk.description}}</div>
                </div>

                <div class="row-fluid">
                    <blockquote class="span7"><p>{{talk.expectations}}</p></blockquote>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="components/jquery/jquery.min.js"></script>
<script src="components/angular/angular.min.js"></script>
<script src="components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="components/jSpreadSheet/src/jspreadsheet.min.js"></script>
<script src="controller.js"></script>
<script>



    /*
    $.ss("http://spreadsheets.google.com/tq?key=" + getUrlArgument('key'))
            .setQuery("select *")
            .setField("date,first_name,blah,last_name,talk_40,themes,audience,audience_level,keywords,language,title,description,sex,location,email,phone,transportation,hosting,expectations,freespeech,talk_20,talk_lt,talk_workshop,url,rating,remarks,total")
            .send(function(){
                $container.empty();
                this.each(function(i){
                    var view = this;
                    view.counter = i + 1;
                    view.id = "talk-"+ view.counter;

                    //move this to a one time init
                    view.author = function(){
                        return this.first_name+" "+this.last_name;
                    };

                    view.rating_label = function(){
                        var label = [];

                        if (this.rating < 0){
                            label.push('negative');
                        }

                        if (this.rating === 0){
                            label.push('neutral');
                        }

                        if (this.rating > 0){
                            label.push('positive');
                        }

                        if (this.rating === 2)
                        {
                            label.push('favorite');
                        }

                        return label.join(' ');
                    };

                    view.autobr = function(){
                        return function(text, render){
                            return render(text).replace(/(\r\n|\r|\n)/gm, '<br />');
                        };
                    };

                    //move this to a one time init
                    view.label = function(){
                        return function(text, render){
                            return render(text)
                                    .replace(/label (1|Oui|Yes)/i, "label label-success")
                                    .replace(/label (-1|Non|No)/i, "label label-empty")
                                    .replace(/label (0|Envisageable|Maybe)/i, "label label-maybe");
                        };
                    };

                    view.linkify = function(){
                        return function(text, render){
                            return render(text)
                                    .replace(/(https?:\/\/(www.)?)?twitter.com\/(#!\/)?([^\s\W]+)/mg, "@$4")
                                    .replace(/(^|\s)(http[^\s]+)/mg, "$1<a href='$2' target='_blank'>$2</a>");
                        };
                    };

                    //move this to a one time init
                    view.tags = function(){
                        var keywords = this.keywords.trim();

                        if (!keywords.match(',')){
                            keywords = keywords.match('[A-Z]')
                                    ? keywords.replace(/\s+([A-Z])/g, ', $1')
                                    : keywords.replace(/\s+/g, ', ');
                        }

                        return '<span class="label label-info">' + keywords.split(',').join('</span> <span class="label label-info">') + '</span>';
                    };

                    $navbar.append(Mustache.to_html(SidebarItemTemplate, view));
                    $container.append(Mustache.to_html(TalkTemplate, view));
                });

                twttr.anywhere(function (T) {
                    T.linkifyUsers();
                    T.hovercards();
                });
            });*/
</script>
</body>
</html>