<!DOCTYPE html>
<html ng-app="talks" lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Sud Web – Sujets</title>
    <meta name="viewport" content="initial-scale=1">
</head>
<body>

<div class="container" ng-controller="TalkController">
    <div class="row">
        <div class="col-md-3 affix" id="talk-summary">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="btn-group btn-group-justified">
                <div class="btn-group" ng-hide="editionYear > 2012"><button type="button" class="btn btn-default" ng-click="toggleDisplay('talk_40')" ng-class="{ active: display.talk_40 }">40'</button></div>
                <div class="btn-group" ng-hide="editionYear > 2013"><button type="button" class="btn btn-default" ng-click="toggleDisplay('talk_20')" ng-class="{ active: display.talk_20 }">20'</button></div>
                <div class="btn-group"><button type="button" class="btn btn-default" ng-click="toggleDisplay('talk_lt')" ng-class="{ active: display.talk_lt }">LT</button></div>
                <div class="btn-group"><button type="button" class="btn btn-default" ng-click="toggleDisplay('talk_workshop')" ng-class="{ active: display.talk_workshop }">Élaboratoires</button></div>
                <div class="btn-group"><button type="button" class="btn btn-default" ng-click="toggleSort()" ng-class="{ active: sort.field }"><span class="glyphicon glyphicon-sort-by-attributes-alt"></span></button></div>
              </div>
            </div>

            <div class="panel-body">
              <strong>{{(talks | byFormat:display).length}}</strong> propositions.
            </div>

            <ul class="nav nav-pills nav-stacked" role="nav">
              <li ng-repeat="talk in talks | byFormat:display | orderBy:sort.field:sort.reverse">
                <a href="#talk-{{talk.id}}" data-counter="{{talk.id}}">
                  <span class="badge">{{talk.total | ratify}}</span>
                  <span class="talk-counter">{{talk.id}}</span>
                  {{talk.title}}
                </a>
              </li>
            </ul>
          </div>
        </div>

        <main class="col-md-8 col-md-offset-4" id="talk-container">
            <div class="alert alert-info" ng-hide="talks">Chargement en cours …</div>

            <div ng-cloak ng-repeat="talk in talks | byFormat:display | orderBy:sort.field:sort.reverse">
                <article class="talk talk-{{talk.rating || talk.total | moodify}}" id="talk-{{talk.id}}">
                    <h2 class="talk-title" data-counter="{{talk.id}}">{{talk.title}}</h2>

                    <span class="badge total">{{talk.total | ratify}}</span>

                    <p class="meta" ng-show="talk.speaker_name">
                      <a href="mailto:{{talk.email}}" class="author">{{talk.speaker_name}}</a>
                    </p>

                    <p class="meta" ng-show="talk.first_name || talk.last_name">
                        <a href="mailto:{{talk.email}}" class="author">{{talk.first_name}} {{talk.last_name}}</a>
                        – {{talk.genre}}, {{talk.location}}
                        <em>via</em> {{talk.transportation}}<br />

                        {{talk.url}}
                    </p>

                    <p ng-show="talk.formats">
                      <span ng-repeat="format in talk.formats | tagify:','" class="label label-success">{{format}}</span>
                    </p>

                    <p ng-show="talk.talk_20 || talk.talk_lt || talk.talk_workshop">
                        <span class="label label-success">{{talk.language}}</span>
                        <span class="label {{talk.talk_20 | labelify}}">20 minutes</span>
                        <span class="label {{talk.talk_lt | labelify}}">LT</span>
                        <span class="label {{talk.talk_workshop | labelify}}">Workshop</span>
                    </p>
                    <p ng-show="talk.keywords">
                        <span ng-repeat="tag in talk.keywords | tagify" class="label label-info">{{tag}}</span>
                    </p>

                    <div class="row">
                        <div class="talk-description col-md-7">{{talk.description}}</div>
                    </div>

                    <div class="row" ng-show="talk.expectations">
                        <h4>Ce que le public en retiendra</h4>
                        <blockquote class="col-md-7"><p>{{talk.expectations}}</p></blockquote>
                    </div>

                    <div class="row" ng-show="talk.remarks">
                        <h4>Remarques</h4>
                        <blockquote class="col-md-7"><p>{{talk.remarks}}</p></blockquote>
                    </div>
                </article>
            </div>
        </main>
    </div>
</div>

<script src="bundle.js"></script>
</body>
</html>
