html {
  font-size: .625em;
}

body {
  margin: 0;
  padding: 0;
  --red: #e84538;
  --green: #879e38;
  --yellow: #f8a912;
  --grey: #353535;
  font-size: 1.4em;
  line-height: 20px;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  position: relative;
  flex: 1;
  overflow: auto;
  padding: 1.5em;
}

.drawer > div {
  top: 64px !important;
  height: calc(100vh - 64px) !important;
}

h1 {
  font-size: 1em;
  margin: 0;
}

h2 {
  font-size: 2em;
  line-height: 1.08108108em;
  margin-bottom: 0;
  color: var(--green);
}

h3 {
  margin: 0;
  font-size: 1.25em;
}

h3:not(:first-child) {
  margin-top: 1em;
}

.loading {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TalkList {
  width: 100%;
  /*overflow: auto;*/
}

@media (min-width: 40em) {
  body {
    font-size: 1.6em;
    line-height: 23px;
  }

  main {
    padding: 1.5em 2.5em;
  }

  .Wrapper {
    padding:0;
    margin-left: 360px;
  }

  .Talk {
    max-width: 40em;
    width: 100%;
    margin: 0 auto;
  }
}