html {
  font-size: .625em;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  --red: #e84538;
  --yellow: #f8a912;
  --grey: #353535;
  font-size: 1.4em;
  line-height: 1.43;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
  display: flex;
  overflow: hidden;
}

h1 {
  font-size: 1em;
  margin: 0;
}

h2 {
  font-size: 2em;
  margin-bottom: 0;
  color: var(--red);
}

h3 {
  margin: 0;
  font-size: 1.5em;
}

h3:not(:first-child) {
  margin-top: 1em;
}

.loading {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TalkList {
  width: 100%;
  overflow: auto;
  width: 100%
}

.Talk {
  flex: 2;
  overflow: auto;
}

@media (min-width: 40em) {
  body {
    font-size: 1.6em;
  }

  .Talk > div {
    max-width: 50em;
    margin: 0 3em;
  }
}